p {color:red;}
li{color:green;}

.fondoamarillo{background-color:black;}
.fondoazul{background-color:white;}

#blanco{color:white;}
#rojo{color:red;}
#verde{color:green;}
#naranja{color:orange;}
#morado{color:purple;}
