#LMSG{
	background-color:purple;
}
#GBD{
	background-color:BLUE;
}
#PAR{
	background-color:seagreen;
}
#ISO{
	background-color:darkred;
}
#FH{
	background-color:lightpink;
}
#FOL{
	background-color:yellow;
}
#RECREO{
	background-color:orangered;
}